In [125]:
import pandas as pd
columns = ["Trackid","xmin","ymin","xmax","ymax","frame","lost","occluded","generated","label","action"]
labels = pd.read_csv("D:/labels.csv",header=None)
labels.columns = columns
labels

,Trackid,xmin,ymin,xmax,ymax,frame,lost,occluded,generated,label,action
0,0,764,309,823,441,0,0,0,0,Person,Carrying
1,0,761,309,820,438,1,0,0,1,Person,Carrying
2,0,761,309,820,438,2,0,0,1,Person,Carrying
3,0,761,309,820,438,3,0,0,1,Person,Carrying
4,0,761,309,820,438,4,0,0,1,Person,Carrying
...,...,...,...,...,...,...,...,...,...,...,...
15460,91,3511,489,3609,629,2267,0,0,1,Person,Reading
15461,91,3511,489,3609,629,2268,0,0,1,Person,Reading
15462,91,3508,489,3606,629,2269,0,0,1,Person,Reading
15463,91,3508,489,3606,629,2270,0,0,1,Person,Reading
15464,91,3508,489,3606,629,2271,0,0,0,Person,Reading

In [132]:
import cv2
from PIL import Image
dim = (3840, 2160)
trackid = 2
action = 'Carrying'
def bounding_box(action,j,i):
    xmin = int(labels.loc[(action,91 ,i), 'xmin'])
    ymin = int(labels.loc[(action,91, i), 'ymin'])
    xmax = int(labels.loc[(action,91, i), 'xmax'])
    ymax = int(labels.loc[(action,91, i), 'ymax'])
    return [xmin,ymin,xmax,ymax]

image = cv2.imread("C:/Users/ANSH DESAI/Desktop/final8.png")
#bbox=bounding_box('Carrying',91,2228)
image=cv2.rectangle(image,(3561,486),(3660,626),(0,0,0),5)
cv2.putText(image,"Carrying",(3561,486),cv2.FONT_HERSHEY_COMPLEX,1,(0,0,255),2)
cv2.imwrite("C:/Users/ANSH DESAI/Desktop/final10.jpg",image)

True

In [116]:
#cd = labels
#cd=cd.set_index(["action","Trackid"])
frame = labels.loc["Reading",2228]
frame

C:\Anaconda3\envs\tensorflow_gpuenv\lib\site-packages\ipykernel_launcher.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  This is separate from the ipykernel package so we can avoid doing imports until

,,Trackid,xmin,ymin,xmax,ymax,lost,occluded,generated,label
action,frame,,,,,,,,,
Reading,2228,91,3561,486,3660,626,0,0,1,Person

In [126]:
labels = labels.set_index(['action','Trackid','frame'])
labels
#int(labels.loc[(action,0 ,i), 'xmin'])

                        xmin  ymin  xmax  ymax  lost  occluded  generated  \
action   Trackid frame
Carrying 0       0       764   309   823   441     0         0          0
                 1       761   309   820   438     0         0          1
                 2       761   309   820   438     0         0          1
                 3       761   309   820   438     0         0          1
                 4       761   309   820   438     0         0          1
...                      ...   ...   ...   ...   ...       ...        ...
Reading  91      2267   3511   489  3609   629     0         0          1
                 2268   3511   489  3609   629     0         0          1
                 2269   3508   489  3606   629     0         0          1
                 2270   3508   489  3606   629     0         0          1
                 2271   3508   489  3606   629     0         0          0

                         label
action   Trackid frame
Carrying 0       0      Person
                 1      Person
                 2      Person
                 3      Person
                 4      Person
...                        ...
Reading  91      2267   Person
                 2268   Person
                 2269   Person
                 2270   Person
                 2271   Person

[15465 rows x 8 columns]

In [18]:
import numpy as np
import glob
 
img_array = []
for filename in glob.glob("C:/Users/ANSH DESAI/Desktop/Carrying/*.png"):
    img = cv2.imread(filename)
    height, width, layers = img.shape
    size = (width,height)
    img_array.append(img)
out = cv2.VideoWriter('C:/Users/ANSH DESAI/Desktop/Carrying.avi',cv2.VideoWriter_fourcc(*'DIVX'), 15, size)
 
for i in range(len(img_array)):
    out.write(img_array[i])
out.release()

In [ ]:
image = cv2.imread("C:/Users/ANSH DESAI/Desktop/424/"+".jpg")
resized = cv2.resize(image, dim, interpolation = cv2.INTER_LINEAR)
cv2.imwrite("C:/Users/ANSH DESAI/Desktop/424r/"+".png",resized)